.header{ 
    &-section1{
        background-color: $color-background;
        display: flex;
        justify-content: space-between;

        img{
            width: 248px;
        }

        &-nav{
            display: flex;
            align-items: center;

            ul{
                display: flex;
                align-items: center;

                li{
                    display: flex;
                    color:aquamarine;
                    padding: 0px 4px;
                }
            }
        }
    }



    &-section2{
        &-menu{
            @include btn-compra (blue, rgba(106,178,7,255));
        }
    }
}

